<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="nav nav-pills nav-stacked " style="max-width: 300px; padding-top: 20px;">
        <li class="active"><%= link_to("Jobs", jobs_path) %></li>
        <% Category.all.each do |category| %>
        <li><%= link_to category.name, jobs_path(category: category.name) %></li>
          <% end %>
      </ul>
    </div>
    <div class="col-md-10" >
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          排序 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><%= link_to("按照薪资下限排序", jobs_path(:order => "by_lower_bound")) %></li>
          <li><%= link_to("按照薪资上限排序", jobs_path(:order => "by_upper_bound")) %></li>
          <li><%= link_to("按照发表时间排序", jobs_path) %></li>
        </ul>
      </div>
      <br><br>



          <% @jobs.each do |job| %>
          <div class="job-list">
            <h1 class="title"><%= link_to(job.title, job_path(job)) %><span><%= job.created_at %><span></h1>
            <p><%= job.wage_lower_bound %>-<%= job.wage_upper_bound %></p>
           </div>
          <% end %>

    </div>
  </div>
</div>
